<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Server</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://example.com:9181/</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>server_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>server_username</string>
		</dict>
		<dict>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>server_port</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>1s                                                             10s</string>
			<key>Title</key>
			<string>Auto Refresh</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>auto_reload_queues</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Refresh rate (1-10s)</string>
			<key>Key</key>
			<string>foo</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Key</key>
			<string>auto_refresh_timeout</string>
			<key>MaximumValue</key>
			<integer>10</integer>
			<key>MaximumValueImage</key>
			<string>10s.png</string>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>1s.png</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Preferences</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>confirmation_switch</string>
			<key>Title</key>
			<string>Ask for confirmation</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
